---
{
	"title": "v6.1.x release notes",
	"description": "v6.1.x release notes - Version history - Canada.ca theme (GCWeb)",
	"language": "en",
	"altLangPrefix": "v6.1",
	"breadcrumb": [
		{ "title": "GCWeb home", "link": "../../index-en.html" },
		{ "title": "GCWeb theme", "link": "../index-en.html" }
	],
	"secondlevel": false,
	"dateModified": "2020-02-19",
	"share": "true"
}
---

<div class="row">
	<div class="col-md-7 col-lg-8">
		<p>Version 6.1 (STR)</p>
		<ul>
			<li><strong>Launching date:</strong>
				<time>2020-02-19</time>
			</li>
			<li><strong>Compile with:</strong> <a href="https://wet-boew.github.io/wet-boew/docs/versions/v4.0/v4.0.33-en.html">WET-BOEW v4.0.33</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-auto pull-right">
		<p><a href="https://github.com/wet-boew/GCWeb/archive/v6.1.zip" class="btn btn-primary">Download theme <strong>GCWeb v6.1</strong></a><br />
			<small>(<a href="https://github.com/wet-boew/GCWeb/archive/v6.1.zip">Source code</a>)</small></p>
	</div>
</div>

<section>
<h2>What's new?</h2>
<ul>
	<li>Template
		<ul>
			<li>Minor - Menu - Menu items replaced by CDN (Canada.ca).</li>
			<li>Minor - Search template - Added advanced Search in the new template for search results.</li>
		</ul>
	</li>
	<li>Styles and plugins
		<ul>
			<li>Minor - GC Features - Change of template to use stretched-link class.</li>
		</ul>
	</li>
	<li><a href="https://wet-boew.github.io/themes-dist/GCWeb/provisional-en.html">Experimental</a>
		<ul>
			<li>Provisional - Name changed to Provisional to avoid confusion with experimental process described in the design system.</li>
		</ul>
	</li>
	<li>Maintenance
		<ul>
			<li>Build script - Permission errors fixed</li>
		</ul>
	</li>
</ul>
<section>
<h3>WET-BOEW v4.0.33 (<a href="https://wet-boew.github.io/wet-boew/docs/versions/v4.0/v4.0.33-en.html">see release notes</a>) and WET-BOEW v4.0.34 (<a href="https://wet-boew.github.io/wet-boew/docs/versions/v4.0/v4.0.34-en.html">see release notes</a>)</h3>
<ul>
	<li>Styles and plugins
		<ul>
			<li>Checkboxes and radio buttons</li>
		</ul>
	</li>
	<li>Maintenance
		<ul>
			<li>Build script</li>
		</ul>
	</li>
</ul>
</section>
<section>
	<h3 id="implementation">Modified files for implementation</h3>
	<ul>
		<li>Main CSS:
			<ul>
				<li>GCWeb/css/theme.css</li>
				<li>GCWeb/css/theme.min.css</li>
			</ul>
		</li>
	</ul>
</section>
</section>

<section>
	<h2 id="details">Details</h2>
	<p><strong>Number of commits:</strong> 40</p>
	<ul>
		<li><a href="https://github.com/EricDunsworth">Eric Dunsworth (@EricDunsworth)</a>: 17 commits</li>
		<li><a href="https://github.com/GormFrank">Francis Gorman (@GormFrank)</a>: 12 commits</li>
		<li><a href="https://github.com/duboisp">Pierre Dubois (@duboisp)</a>: 3 commits</li>
		<li><a href="https://github.com/jkshapiro">Kivi Shapiro (@jkshapiro)</a>: 2 commits</li>
		<li><a href="https://github.com/StdGit">Stephane Ducharme (@StdGit)</a>: 2 commits</li>
		<li><a href="https://github.com/Paul-Doug">Paul Imeson (@Paul-Doug)</a>: 1 commit</li>
		<li><a href="https://github.com/thekodester">Kody (@thekodester)</a>: 1 commit</li>
		<li><a href="https://github.com/NoahGresser">Noah Gresser (@NoahGresser)</a>: 1 commit</li>
		<li><a href="https://github.com/ipaksc">Ilya Pak (@ipaksc)</a>: 1 commit</li>
	</ul>
	<h3>List of commits</h3>
	<ul>
		
	</ul>
</section>

<section>
	<h2 id="sri">Subresource integrity (SRI)</h2>
	<p><a href="https://www.w3.org/TR/SRI/">SRI</a> provides a method to protect website delivery. The following information contains the hash for key resource in WET and GCWeb.</p>
	<section>
		<h3>v6.1</h3>
		<dl>
			<dt><code>GCWeb/js/theme.min.js</code></dt>
			<dd>(Coming soon...)</dd>
		</dl>
		<p>Get all hash (JSON format):</p>
		<ul>
			<li><a href="https://github.com/wet-boew/themes-dist/blob/v6.1-gcweb/GCWeb/payload.json">GCWeb theme</a></li>
		</ul>
	</section>
</section>
